.nav-tabs {
    width: 100vw;
    position: absolute;
    left:0;
    top:0;
}
.myName {
    padding: 0px 35px 1rem 35px;
}
.mylistjob {
    padding: 0px 55px 20px 55px;
}
.myName2 {
    padding: 0px 35px 0rem 35px;
}